<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Rainfall Tracker</title>
    </head>
    <body>
        <h1>Rainfall Tracker</h1>
        <ul>
            <li><a href="/month/01">Jan</a> (Total: {{year.data("01")["total"]}})</li>
            <li><a href="/month/02">Feb</a> (Total: {{year.data("02")["total"]}})</li>
            <li><a href="/month/03">Mar</a> (Total: {{year.data("03")["total"]}})</li>
            <li><a href="/month/04">Apr</a> (Total: {{year.data("04")["total"]}})</li>
            <li><a href="/month/05">May</a> (Total: {{year.data("05")["total"]}})</li>
            <li><a href="/month/06">Jun</a> (Total: {{year.data("06")["total"]}})</li>
            <li><a href="/month/07">Jul</a> (Total: {{year.data("07")["total"]}})</li>
            <li><a href="/month/08">Aug</a> (Total: {{year.data("08")["total"]}})</li>
            <li><a href="/month/09">Sep</a> (Total: {{year.data("09")["total"]}})</li>
            <li><a href="/month/10">Oct</a> (Total: {{year.data("10")["total"]}})</li>
            <li><a href="/month/11">Nov</a> (Total: {{year.data("11")["total"]}})</li>
            <li><a href="/month/12">Dec</a> (Total: {{year.data("12")["total"]}})</li>
        </ul>
    </body>
</html>